body {
}

.calculatorPanel {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    padding: 25% 25% 25% 25%;
    align-items: center;
    width: 50vw;
}

.inputOutput {
    border: solid 1px;
    width: 100%;
    align-items: center;
}

.row {
    display: flex;
    width: 100%;
    flex: 1 1 0;
    flex-direction: row;
    align-items: center;
    align-content: center;
    flex-basis: 100%;
    justify-content: space-around;
}

.button {
    border: solid 1px;
    border-radius: 15%;
    flex: 1 1 0;
    text-align: center;
    padding: 15px 30px;
    margin: 5px 0 0 5px;
    font-size: large;
    font-weight: bold;
}

.button:hover {
    background-color: #999;
}

