body {
}

.calculatorPanel {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    padding-top: 15%;
    align-items: center;
}

.row {
    display: flex;
    flex: 1 1 0;
    flex-direction: row;
    align-items: center;
    align-content: center;
    flex-basis: 100%;
    justify-content: space-around;
}

.button {
    border: solid 1px;
    border-radius: 20%;
    flex: 1 1 0;
    text-align: center;
    padding: 15px 30px;
    margin: 5px 0 0 5px;
}

.button:hover {
    background-color: #999;
}

